<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.piotr.dismoitoutsms" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- required=false pour rester compatible avec les version inférieures à 4.4-->
    <uses-feature android:name="android.hardware.sensor.stepdetector" android:required="false" />
	
    <application
        android:icon="@drawable/iconeprincipale"
        android:label="@string/app_name" >
        <activity
            android:name=".DisMoiToutSmsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SmsRecuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:permission="android.permission.DISABLE_KEYGUARD"
            android:showOnLockScreen="true"/>

        <activity android:name=".ContactSelectionActivity"
            android:parentActivityName=".DisMoiToutSmsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>

        <service android:name="fr.piotr.dismoitoutsms.reception.ServiceCommunicator"/>
    </application>

</manifest>